{% extends 'base.html' %} {% load static %}
{% block content %}

<div class="container-fluid mt-3">

<h3 class="titles">EQ</h3>

<a href="{% url 'instrument_detail' instrument.track.slug instrument.track.id %}"><b>Back To Instruments</b></a>
<br>
<a href="{% url 'create_eq' instrument.track.slug instrument.slug instrument.id %}"><b>Add EQ</b></a>
<br>

<div class="container my-tracks">
    

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mx-auto my-4">
        {% for item in eqs %}

            <div class="col mb-4">
                <div class="card one-track">
                <h5>Eq:   {{ forloop.counter }} </h5>
                <h5>Instrument:   {{ item.instrument.title }} </h5>
                {% if item.description %}
                <h5>description:   {{ item.description }}</h5>
                {% endif %}
                <h5>Frequency:   {{ item.frequency }}</h5>
                <h5>Boost:   {{ item.boost }}</h5>
                <h5>Cut:   {{ item.cut }}</h5>

                </div>
                <a href="{% url 'eq_delete' item.id %}"><b>Delete</b></a>
            </div>

        {% endfor %}
    </div>

 

</div>



</div>





<div class="container_charts">

    <div class="row row-cols-2">

            <div class="col">
            
                <canvas id="myChart" width="20" height="15"></canvas>
            
            </div>

            {% if clashFreq|length >= 1 %}
            <div class="col">
            
                <canvas id="myChart2" width="20" height="15"></canvas>
            
            
            </div>
            {% endif %}

    </div>
    
    
</div>




{% endblock content %}




{% block jsfiles %}

<script>


var ctx = document.getElementById('myChart').getContext('2d');



var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Boost', 'Cut'],
        datasets: [{
            label: '',
            data: ['{{ inst_boost.boost__sum }}', '{{ inst_cut.cut__sum }}'],
            backgroundColor: [
                'rgba(181, 228, 140)',
                'rgba(52, 160, 164)',
            ],
            borderColor: [
                'rgba(53, 53, 53)',
            ],
            borderWidth: 1,
            hoverBorderWidth: 2,
            hoverBorderColor: 'rgba(22, 26, 29)',
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'db'
                }
            }
        },
        plugins: {
            legend: {
                display: false,
            },
            title: {
                display: true,
                text: "Total Boost & Cut for all EQs",
                font: {
                    size: 20,
                },
            },
        }
    }
});




var ctx = document.getElementById('myChart2').getContext('2d');



var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for freq in clashFreq %} '{{ freq }}', {% endfor %}],
        datasets: [{
            label: '',
            data: [{% for number in clashNo %} '{{ number }}', {% endfor %}],
            backgroundColor: [
                'rgba(181, 228, 140)',
                'rgba(52, 160, 164)',
            ],
            borderColor: [
                'rgba(53, 53, 53)',
            ],
            borderWidth: 1,
            hoverBorderWidth: 2,
            hoverBorderColor: 'rgba(22, 26, 29)',
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                max: 10,
                title: {
                    display: true,
                    text: 'Instances'
                }
            }
        },
        plugins: {
            legend: {
                display: false,
            },
            title: {
                display: true,
                text: "Clashing Frequencies for Instrument",
                font: {
                    size: 20,
                },
            },
        }
    }
});

</script>

{% endblock jsfiles %}









