{% extends 'base.html' %} {% load static %}
{% block content %}

<div class="container-fluid mt-3">

<h3 class="titles">Instruments</h3>

<a href="{% url 'profile' user.slug %}"><b>Back To Profile</b></a>
<br>
<a href="{% url 'track_detail' user.slug %}"><b>Back To Tracks</b></a>
<br>
<a href="{% url 'create_instrument' track.slug track.id %}"><b>Add Instrument</b></a>
<br>

<div class="container my-tracks">
    
{% if instruments|length >= 1 %}
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mx-auto my-4">
        {% for item in instruments %}

            <div class="col mb-4">
                <div class="card one-track">
                    <a href="{% url 'eq_detail' track.slug item.slug item.id %}"><h5>{{ item.title }}</h5></a>
                </div>
                <a href="{% url 'instrument_delete' item.id %}"><b>Delete</b></a>
            </div>

        {% endfor %}

        
{% else %}

<a href="{% url 'create_instrument' track.slug track.id %}"><b>Add Instrument</b></a>

{% endif %}

    </div>

</div>





</div>



<div class="container_charts">

<canvas id="myChart" width="20" height="5"></canvas>

</div>



{% endblock content %}



{% block jsfiles %}

<script>
var ctx = document.getElementById('myChart').getContext('2d');


var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Boost', 'Cut'],
        datasets: [{
            label: '',
            data: ['{{ track_boost.boost__sum }}', '{{ track_cut.cut__sum }}'],
            backgroundColor: [
                'rgba(109, 89, 122)',
                'rgba(53, 80, 112)',
            ],
            borderColor: [
                'rgba(53, 53, 53)',

            ],
            borderWidth: 1,
            hoverBorderWidth: 2,
            hoverBorderColor: 'rgba(22, 26, 29)',
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            legend: {
                display: false,
            },
            title: {
                display: true,
                text: "Total Boost & Cut for all Tracks",
                font: {
                    size: 20,
                },
            },
        }
    }
});
</script>

{% endblock jsfiles %}