{% extends 'base.html' %} {% load static %}
{% block content %}

<h3 class="titles">Instruments</h3>

<a href="{% url 'profile' user.slug %}"><b>Back To Profile</b></a>
<br>
<a href="{% url 'track_detail' user.slug %}"><b>Back To Tracks</b></a>
<br>
<a href="{% url 'create_instrument' track.slug track.id %}"><b>Add Instrument</b></a>
<br>

<div class="container my-tracks">
    
{% if instruments|length >= 1 %}
    
    <div class="row row-cols-3 row-cols-md-2 g-4">
        {% for item in instruments %}

            <div class="col">
                <div class="card one-track">
                    <a href="{% url 'eq_detail' track.slug item.slug item.id %}"><h5>{{ item.title }}</h5></a>
                </div>
                <a href="{% url 'instrument_delete' item.id %}"><b>Delete</b></a>
            </div>

        {% endfor %}

        
{% else %}

<a href="{% url 'create_instrument' track.slug track.id %}"><b>Add Instrument</b></a>

{% endif %}

    </div>

</div>











{% endblock content %}