{% extends 'base.html' %} {% load static %}
{% block content %}

<div class="container mx-auto mt-4">
<a href="{% url 'home'%}" class="frequency-link">Frequency</a>
</div>

<div class="container top-profile">
    <div class="row">
        <div class="col-12 g-4 mx-auto">
            <div class="card profile-card">
                <div class="card-body">
                    <h3>Profile</h3>

                    <h4>{{ u.first_name }}</h4>
                    <div class="card profile-img-card mt-4">
                    <br>
                        <h3>Bio</h3>
                        {% for items in profile %}
                        <br>
                        <img src="{{ items.pic.url }}" class="card-img-top profile-img" alt="profile pic">
                        <br>
                        <span class="">{{ items.bio }}</span>
                        <div class="card-body">
                    {% endfor %}

          


                </div>
            </div>
        </div>
    </div>
</div>

<div class="container profile-link-cont">
    <div class="row">
    <div class="col-12 col-md-11 col-lg-8 mx-auto">
        <div class="card profile-card">
            <div class="card-body align-items-center profile-links">

                {% if profile|length >= 1 %}
                <a href="{% url 'update_profile' user.slug %}"><b>Update Profile</b></a>
                {% else %}
                <a href="{% url 'create_profile' user.slug %}"><b>Edit Profile</b></a>
                {% endif %}
                
                <br>
                <a href="{% url 'create_track' user.slug %}"><b>Add Track</b></a>
                
                <br>
                
                
                
                <a href="{% url 'track_detail' user.slug %}"><b>My Tracks</b></a>
                <br>
                
                <a href="{% url 'logout' %}"><b>Logout</b></a>

          </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

