{% extends 'base.html' %} {% load static %}
{% block content %}

<h3 class="titles">Tracks</h3>

<a href="{% url 'profile' user.slug %}"><b>Back To Profile</b></a>
<br>

<br>

<div class="container my-tracks">
    
    
    <div class="row row-cols-3 row-cols-md-2 g-4">
        {% for track in tracks %}

            <div class="col">
                <div class="card one-track">
                    <a href="{% url 'instrument_detail' track.slug track.id %}"><h5>{{ track.title }}</h5></a>
                </div>
            </div>

        {% endfor %}
    </div>

</div>











{% endblock content %}












