
{% extends "base.html" %} {% load static %} 
{% block content %}

<div class="container authentication_card">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-7 mx-auto">
      <div class="card card-signin my-0">
        <div class="card-body">
          <h5 class="card-title text-center">
              <br><br><br><br>
            <b>An email has been sent with instructions to reset your password.</b>
          </h5>
         
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} 