{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %}
{% block content %}


<div class="container authentication_card">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-7 mx-auto">
      <div class="card card-signin my-0">
        <div class="card-body">
          <h5 class="card-title text-center"><b>Reset Password</b></h5>
          <form class="form-signin" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <br />

              {{ form|crispy }}

            </fieldset>

            <div class="form-group">
              <button class="btn btn-md btn-primary" type="submit">
                Reset Password</button
              ><br /> <br><br><br><br><br>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} 