{% extends "base.html" %} {% load static %}
{% block content %}

<div class="container authentication_card">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-7 mx-auto">
      <div class="card card-signin my-0">
        <div class="card-body">
          <h5 class="card-title text-center">
            <b>Your new password has been set.</b>
          </h5>
          <form class="form-signin">
            <div class="form-group">
            <br><br><br>
              <a class="btn btn-md btn-info" href="{% url 'login' %}">Sign In Here</a>
            </div>
          </form>
          <br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} 