.register_card {
    text-align: center;
}
#hint_id_password2 {
    visibility: hidden;
}

.register_card {
    background-color: rgb(60, 46, 72);
}
.card-signin {
    background-color: rgb(198, 206, 203);
}

input {
    width: 50%;
}
.control-label {
    margin: 15px;
}